.m-1 {
  margin: $ra-global-spacing-1;
}
.m-10 {
  margin: $ra-global-spacing-10;
}

.mb-sm {
  margin-bottom: $ra-global-spacing-1;
}

.mb-md {
  margin-bottom: $ra-global-spacing-50;
}

.mb-lg {
  margin-bottom: $ra-global-spacing-200;
}