.p-sm {
  padding: $ra-global-spacing-1;
}

.p-md {
  padding: $ra-global-spacing-50;
}

.p-lg {
  padding: $ra-global-spacing-100 !important;
}

.pb-sm {
  padding-bottom: $ra-global-spacing-1;
}

.pb-md {
  padding-bottom: $ra-global-spacing-50;
}

.pb-lg {
  padding-bottom: $ra-global-spacing-200;
}